<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org" lang="en">

<head>
  <title>Add Todos Page</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>

<body>
  <div class="container">
    <h1>Welcome <span style="color: greenyellow;" th:text="${name}"></span> to d4rkr0n1n-tech</h1>
    <h2>Add Todo Details</h2>
    <form action="/todo/add" method="post" th:object="${todo}">
      Description: <input type="text" name="description" th:field="*{description}" required="required">
      <input type="submit" value="Submit" class="btn btn-success">
    </form>
  </div>
</body>

</html>